@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: scale(.96);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(.96)
        }
    }

    .animate-fadeIn {
        animation: fadeIn 0.15s ease-out forwards;
    }
    .animate-fadeOut {
        animation: fadeOut 0.15s ease-in forwards;
    }
}