-- CreateEnum
CREATE TYPE "Ability" AS ENUM ('STR', 'DEX', 'CON', 'INT', 'WIS', 'CHA');

-- CreateEnum
CREATE TYPE "SpellcastingType" AS ENUM ('NONE', 'FULL', 'HALF', 'THIRD', 'PACT');

-- CreateEnum
CREATE TYPE "Size" AS ENUM ('TINY', 'SMALL', 'MEDIUM', 'LARGE', 'HUGE', 'GARGANTUAN');

-- CreateEnum
CREATE TYPE "SpellSchool" AS ENUM ('ABJURATION', 'CONJURATION', 'DIVINATION', 'ENCHANTMENT', 'EVOCATION', 'ILLUSION', 'NECROMANCY', 'TRANSMUTATION');

-- CreateEnum
CREATE TYPE "ArmorCategory" AS ENUM ('PADDED', 'LEATHER', 'STUDDED_LEATHER', 'HIDE', 'CHAIN_SHIRT', 'SCALE_MAIL', 'BREASTPLATE', 'HALF_PLATE', 'RING_MAIL', 'CHAIN_MAIL', 'SPLINT', 'PLATE', 'SHIELD', 'HOMEBREW');

-- CreateEnum
CREATE TYPE "ArmorType" AS ENUM ('LIGHT', 'MEDIUM', 'HEAVY', 'SHIELD');

-- CreateEnum
CREATE TYPE "SkillProficiencyType" AS ENUM ('NONE', 'HALF', 'PROFICIENT', 'EXPERTISE');

-- CreateEnum
CREATE TYPE "RestType" AS ENUM ('SHORT_REST', 'LONG_REST', 'DAY');

-- CreateEnum
CREATE TYPE "Language" AS ENUM ('COMMON', 'DWARVISH', 'ELVISH', 'GIANT', 'GNOMISH', 'GOBLIN', 'HALFLING', 'ORC', 'ABYSSAL', 'CELESTIAL', 'DRACONIC', 'DEEP_SPEECH', 'INFERNAL', 'PRIMORDIAL', 'SYLVAN', 'UNDERCOMMON', 'DRUIDIC', 'THIEVES_CANT', 'COMMON_SIGN_LANGUAGE');

-- CreateEnum
CREATE TYPE "DamageType" AS ENUM ('BLUDGEONING', 'PIERCING', 'SLASHING', 'ACID', 'COLD', 'FIRE', 'LIGHTNING', 'THUNDER', 'FORCE', 'NECROTIC', 'POISON', 'PSYCHIC', 'RADIANT');

-- CreateEnum
CREATE TYPE "EquipmentPackCategory" AS ENUM ('BURGLARS_PACK', 'DIPLOMATS_PACK', 'DUNGEONEERS_PACK', 'ENTERTAINERS_PACK', 'EXPLORERS_PACK', 'PRIESTS_PACK', 'SCHOLARS_PACK', 'COMPONENT_POUCH', 'SPELLBOOK', 'HOMEBREW');

-- CreateEnum
CREATE TYPE "Source" AS ENUM ('PHB', 'DMG', 'MM', 'XGTE', 'TCOE', 'FTOD', 'EGTW', 'SCAG', 'GGTR', 'AI', 'IDROTF', 'SPELLJAMMER', 'COS', 'BGDIA', 'VGTM', 'MTOF', 'MPMM', 'BPGOTG', 'VRGTR', 'MOOT', 'SACOC', 'WBTW', 'EBERRON', 'DRAGONLANCE', 'PHB_2024', 'DMG_2024', 'MM_2024');

-- CreateEnum
CREATE TYPE "WeaponType" AS ENUM ('SIMPLE_WEAPON', 'MARTIAL_WEAPON', 'FIREARMS');

-- CreateEnum
CREATE TYPE "WeaponCategory" AS ENUM ('CLUB', 'DAGGER', 'GREATCLUB', 'HANDAXE', 'JAVELIN', 'LIGHT_HAMMER', 'MACE', 'QUARTERSTAFF', 'SICKLE', 'SPEAR', 'UNARMED_STRIKE', 'LIGHT_CROSSBOW', 'DART', 'SHORTBOW', 'SLING', 'BATTLEAXE', 'FLAIL', 'GLAIVE', 'GREATAXE', 'GREATSWORD', 'HALBERD', 'LANCE', 'LONGSWORD', 'MAUL', 'MORNINGSTAR', 'PIKE', 'RAPIER', 'SCIMITAR', 'SHORTSWORD', 'TRIDENT', 'WAR_PICK', 'WARHAMMER', 'WHIP', 'BLOWGUN', 'HAND_CROSSBOW', 'HEAVY_CROSSBOW', 'LONGBOW', 'NET', 'HOMEBREW');

-- CreateEnum
CREATE TYPE "Skills" AS ENUM ('ATHLETICS', 'ACROBATICS', 'SLEIGHT_OF_HAND', 'STEALTH', 'ARCANA', 'HISTORY', 'INVESTIGATION', 'NATURE', 'RELIGION', 'ANIMAL_HANDLING', 'INSIGHT', 'MEDICINE', 'PERCEPTION', 'SURVIVAL', 'DECEPTION', 'INTIMIDATION', 'PERFORMANCE', 'PERSUASION');

-- CreateEnum
CREATE TYPE "BackgroundCategory" AS ENUM ('ACOLYTE', 'CHARLATAN', 'CRIMINAL', 'ENTERTAINER', 'FOLK_HERO', 'GUILD_ARTISAN', 'GUILD_MERCHANT', 'HERMIT', 'NOBLE', 'OUTLANDER', 'SAGE', 'SAILOR', 'SOLDIER', 'URCHIN', 'GLADIATOR', 'KNIGHT', 'PIRATE', 'SPY', 'ANTHROPOLOGIST', 'ARCHAEOLOGIST', 'CITY_WATCH', 'CLAN_CRAFTER', 'CLOISTERED_SCHOLAR', 'COURTIER', 'FACTION_AGENT', 'FAR_TRAVELER', 'INHERITOR', 'INVESTIGATOR', 'KNIGHT_OF_THE_ORDER', 'MERCENARY_VETERAN', 'URBAN_BOUNTY_HUNTER', 'UTHGARDT_TRIBE_MEMBER', 'WATERDHAVIAN_NOBLE', 'FISHER', 'SHIPWRIGHT', 'SMUGGLER', 'MARINE', 'AZORIUS_FUNCTIONARY', 'BOROS_LEGIONNAIRE', 'DIMIR_OPERATIVE', 'GOLGARI_AGENT', 'GRUUL_ANARCH', 'IZZET_ENGINEER', 'ORZHOV_REPRESENTATIVE', 'RAKDOS_CULTIST', 'SELESNYA_INITIATE', 'SIMIC_SCIENTIST', 'GRINNER', 'VOLSTRUCKER_AGENT', 'ATHLETE', 'LOREHOLD_STUDENT', 'PRISMARI_STUDENT', 'QUANDRIX_STUDENT', 'SILVERQUILL_STUDENT', 'WITHERBLOOM_STUDENT', 'ASTRAL_DRIFTER', 'FACELESS', 'FAILED_MERCHANT', 'FEYLOST', 'GAMBLER', 'HAUNTED_ONE', 'PLAINTIFF', 'RIVAL_INTERN', 'WILDSPACER', 'WITCHLIGHT_HAND', 'KNIGHT_OF_SOLAMNIA', 'MAGE_OF_HIGH_SORCERY', 'HOUSE_AGENT', 'ARTISAN_2024', 'CHARLATAN_2024', 'CRIMINAL_2024', 'ENTERTAINER_2024', 'FARMER_2024', 'GUARD_2024', 'GUIDE_2024', 'HERMIT_2024', 'MERCHANT_2024', 'NOBLE_2024', 'SAGE_2024', 'SAILOR_2024', 'SCRIBE_2024', 'SOLDIER_2024', 'WAYFARER_2024', 'CUSTOM');

-- CreateEnum
CREATE TYPE "FeatureDisplayType" AS ENUM ('STANDARD', 'RESOURCE', 'ACTION', 'PASSIVE', 'TOGGLE');

-- CreateEnum
CREATE TYPE "WeaponProperty" AS ENUM ('FINESSE', 'VERSATILE', 'LIGHT', 'HEAVY', 'REACH', 'TWO_HANDED', 'THROWN', 'AMMUNITION', 'LOADING', 'SPECIAL', 'MAGIC_WEAPON');

-- CreateEnum
CREATE TYPE "MagicItemType" AS ENUM ('WEAPON', 'ARMOR', 'WONDROUS_ITEM', 'POTION', 'SCROLL', 'RING', 'WAND', 'ROD', 'STAFF');

-- CreateEnum
CREATE TYPE "ItemRarity" AS ENUM ('COMMON', 'UNCOMMON', 'RARE', 'VERY_RARE', 'LEGENDARY', 'ARTIFACT');

-- CreateEnum
CREATE TYPE "FeatCategory" AS ENUM ('ORIGIN', 'GENERAL', 'FIGHTING_STYLE', 'EPIC_BOON');

-- CreateEnum
CREATE TYPE "ToolCategory" AS ENUM ('ARTISAN_TOOLS', 'DICE_SET', 'DRAGONCHESS_SET', 'PLAYING_CARD_SET', 'THREE_DRAGON_ANTE_SET', 'GAMING_SET', 'MUSICAL_INSTRUMENT', 'DISGUISE_KIT', 'FORGERY_KIT', 'HERBALISM_KIT', 'NAVIGATORS_TOOLS', 'POISONERS_KIT', 'THIEVES_TOOLS', 'JEWELERS_TOOLS', 'FISHING_TACKLE', 'CARTOGRAPHERS_TOOLS', 'VEHICLES_LAND', 'VEHICLES_WATER');

-- CreateEnum
CREATE TYPE "Races" AS ENUM ('AASIMAR_2024', 'DRAGONBORN_2024', 'DWARF_2024', 'ELF_2024', 'GNOME_2024', 'GOLIATH_2024', 'HALFLING_2024', 'HUMAN_2024', 'ORC_2024', 'TIEFLING_2024', 'DRAGONBORN_2014', 'DWARF_2014', 'ELF_2014', 'GNOME_2014', 'HALF_ELF_2014', 'HALF_ORC_2014', 'HALFLING_2014', 'HUMAN_2014', 'TIEFLING_2014', 'CENTAUR_GGTR', 'LOXODON_GGTR', 'MINOTAUR_GGTR', 'SIMIC_HYBRID_GGTR', 'VEDALKEN_GGTR', 'VERDAN_AI', 'KALASHTAR_AI', 'WARFORGED_AI', 'LEONIN_MOOT', 'SATYR_MOOT', 'DHAMPIR_VRGTR', 'HEXBLOOD_VRGTR', 'REBORN_VRGTR', 'OWLIN_SACOC', 'AARAKOCRA_MPMM', 'AASIMAR_MPMM', 'BUGBEAR_MPMM', 'CENTAUR_MPMM', 'CHANGELING_MPMM', 'DEEP_GNOME_MPMM', 'DUERGAR_MPMM', 'ELADRIN_MPMM', 'FAIRY_MPMM', 'FIRBOLG_MPMM', 'GENASI_AIR_MPMM', 'GENASI_EARTH_MPMM', 'GENASI_FIRE_MPMM', 'GENASI_WATER_MPMM', 'GITHYANKI_MPMM', 'GITHZERAI_MPMM', 'GOBLIN_MPMM', 'GOLIATH_MPMM', 'HARENGON_MPMM', 'HOBGOBLIN_MPMM', 'KENKU_MPMM', 'KOBOLD_MPMM', 'LIZARDFOLK_MPMM', 'MINOTAUR_MPMM', 'ORC_MPMM', 'SATYR_MPMM', 'SEA_ELF_MPMM', 'SHADAR_KAI_MPMM', 'SHIFTER_MPMM', 'TABAXI_MPMM', 'TORTLE_MPMM', 'TRITON_MPMM', 'YUAN_TI_MPMM', 'ASTRAL_ELF_SPELLJAMMER', 'AUTOGNOME_SPELLJAMMER', 'GIFF_SPELLJAMMER', 'HADOZEE_SPELLJAMMER', 'PLASMOID_SPELLJAMMER', 'THRI_KREEN_SPELLJAMMER', 'KENDER_DRAGONLANCE', 'GRUNG', 'LOCATHAH');

-- CreateEnum
CREATE TYPE "Subraces" AS ENUM ('DWARF_HILL_2014', 'DWARF_MOUNTAIN_2014', 'DWARF_DUERGAR_GRAY_SCAG', 'ELF_HIGH_2014', 'ELF_WOOD_2014', 'ELF_DARK_DROW_2014', 'ELF_ELADRIN_DMG', 'ELF_ELADRIN_MPMM', 'ELF_SHADAR_KAI_MPMM', 'ELF_SEA_MTOF', 'ELF_PALLID_EGTW', 'GNOME_FOREST_2014', 'GNOME_ROCK_2014', 'GNOME_DEEP_SCAG', 'HALFLING_LIGHTFOOT_2014', 'HALFLING_STOUT_2014', 'HALFLING_GHOSTWISE_SCAG', 'TIEFLING_ASMODEUS', 'TIEFLING_BAALZEBUL', 'TIEFLING_DISPATER', 'TIEFLING_FIERNA', 'TIEFLING_GLASYA', 'TIEFLING_LEVISTUS', 'TIEFLING_MAMMON', 'TIEFLING_MEPHISTOPHELES', 'TIEFLING_ZARIEL', 'DRAGONBORN_BLACK', 'DRAGONBORN_BLUE', 'DRAGONBORN_BRASS', 'DRAGONBORN_BRONZE', 'DRAGONBORN_COPPER', 'DRAGONBORN_GOLD', 'DRAGONBORN_GREEN', 'DRAGONBORN_RED', 'DRAGONBORN_SILVER', 'DRAGONBORN_WHITE', 'DRAGONBORN_CHROMATIC', 'DRAGONBORN_METALLIC', 'DRAGONBORN_GEM', 'DRAGONBORN_DRACONBLOOD', 'DRAGONBORN_RAVENITE', 'GENASI_AIR', 'GENASI_EARTH', 'GENASI_FIRE', 'GENASI_WATER', 'AASIMAR_PROTECTOR', 'AASIMAR_SCOURGE', 'AASIMAR_FALLEN', 'GITH_GITHYANKI', 'GITH_GITHZERAI', 'SHIFTER_BEASTHIDE', 'SHIFTER_LONGTOOTH', 'SHIFTER_SWIFTSTRIDE', 'SHIFTER_WILDHUNT');

-- CreateEnum
CREATE TYPE "Variants" AS ENUM ('HALF_ELF_VARIANT_HIGH_DESCENT_SCAG', 'HALF_ELF_VARIANT_WOOD_DESCENT_SCAG', 'HALF_ELF_VARIANT_DROW_DESCENT_SCAG', 'HALF_ELF_VARIANT_AQUATIC_DESCENT_SCAG', 'HALF_ELF_VARIANT', 'TIEFLING_VARIANT_FERAL_SCAG', 'TIEFLING_VARIANT_DEVILS_TONGUE_SCAG', 'TIEFLING_VARIANT_HELLFIRE_SCAG', 'TIEFLING_VARIANT_WINGED_SCAG');

-- CreateEnum
CREATE TYPE "DragonbornTypes" AS ENUM ('BLACK', 'BLUE', 'BRASS', 'BRONZE', 'COPPER', 'GOLD', 'GREEN', 'RED', 'SILVER', 'WHITE', 'AMETHYST', 'CRYSTAL', 'EMETALD', 'SAPPHIRE', 'TOPAZ');

-- CreateEnum
CREATE TYPE "AOEShapes" AS ENUM ('CONE', 'CUBE', 'CYLINDER', 'EMANATION', 'LINE', 'SPHERE');

-- CreateTable
CREATE TABLE "character" (
    "character_id" SERIAL NOT NULL,
    "name" VARCHAR,
    "user_id" INTEGER,

    CONSTRAINT "character_pkey" PRIMARY KEY ("character_id")
);

-- CreateTable
CREATE TABLE "character_spells" (
    "character_spell_id" SERIAL NOT NULL,
    "character_id" INTEGER,
    "spell_id" INTEGER,

    CONSTRAINT "character_spells_pkey" PRIMARY KEY ("character_spell_id")
);

-- CreateTable
CREATE TABLE "creature" (
    "creature_id" SERIAL NOT NULL,
    "name" VARCHAR,
    "name_eng" VARCHAR,
    "size" VARCHAR,
    "type" VARCHAR,
    "alignment" VARCHAR,
    "source" "Source" NOT NULL DEFAULT 'MM',
    "ac" VARCHAR,
    "hp" VARCHAR,
    "speed" VARCHAR,
    "strength" VARCHAR,
    "dexterity" VARCHAR,
    "constitution" VARCHAR,
    "intelligence" VARCHAR,
    "wisdom" VARCHAR,
    "charisma" VARCHAR,
    "skills" VARCHAR,
    "senses" VARCHAR,
    "languages" VARCHAR,
    "challenge" VARCHAR,
    "damage_immunity" VARCHAR,
    "damage_resistance" VARCHAR,
    "condition_immunity" VARCHAR,
    "saving_throws" VARCHAR,
    "special_abilities" VARCHAR,
    "actions" VARCHAR,
    "reactions" VARCHAR,
    "legendary_actions" VARCHAR,
    "proficiency_bonus" VARCHAR,
    "description" VARCHAR,
    "lair_actions" VARCHAR,
    "lair_info" VARCHAR,
    "region_effects" VARCHAR,
    "xp" VARCHAR,

    CONSTRAINT "creature_pkey" PRIMARY KEY ("creature_id")
);

-- CreateTable
CREATE TABLE "spell" (
    "spell_id" SERIAL NOT NULL,
    "name" VARCHAR(255) NOT NULL,
    "level" INTEGER NOT NULL,
    "school" VARCHAR(255),
    "casting_time" VARCHAR(255) NOT NULL,
    "range" VARCHAR(255) NOT NULL,
    "components" VARCHAR(500),
    "duration" VARCHAR(255) NOT NULL,
    "description" TEXT NOT NULL,
    "has_ritual" VARCHAR,
    "has_concentration" VARCHAR,
    "source" "Source" NOT NULL DEFAULT 'PHB',

    CONSTRAINT "spell_pkey" PRIMARY KEY ("spell_id")
);

-- CreateTable
CREATE TABLE "spell_classes" (
    "class_id" SERIAL NOT NULL,
    "spell_id" INTEGER NOT NULL,
    "class_name" VARCHAR(255) NOT NULL,

    CONSTRAINT "spell_classes_pkey" PRIMARY KEY ("class_id")
);

-- CreateTable
CREATE TABLE "spell_races" (
    "spell_id" INTEGER,
    "race_id" SERIAL NOT NULL,
    "race_name" VARCHAR,

    CONSTRAINT "spell_races_pkey" PRIMARY KEY ("race_id")
);

-- CreateTable
CREATE TABLE "spellbook" (
    "spellbook_id" SERIAL NOT NULL,
    "user_id" INTEGER,

    CONSTRAINT "spellbook_pkey" PRIMARY KEY ("spellbook_id")
);

-- CreateTable
CREATE TABLE "spellbook_spells" (
    "spellbook_spell_id" SERIAL NOT NULL,
    "spell_id" INTEGER,
    "spellbook_id" INTEGER,

    CONSTRAINT "spellbook_spells_pkey" PRIMARY KEY ("spellbook_spell_id")
);

-- CreateTable
CREATE TABLE "user" (
    "user_id" SERIAL NOT NULL,
    "login" VARCHAR NOT NULL,
    "password" VARCHAR,

    CONSTRAINT "user_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "class" (
    "class_id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "hit_die" INTEGER NOT NULL,
    "primary_casting_stat" "Ability",
    "spellcasting_type" "SpellcastingType" NOT NULL DEFAULT 'NONE',
    "ability_score_up_levels" INTEGER[] DEFAULT ARRAY[4, 8, 12, 16, 19]::INTEGER[],
    "subclass_level" INTEGER NOT NULL DEFAULT 3,
    "multiclass_str_req" INTEGER NOT NULL DEFAULT 0,
    "multiclass_dex_req" INTEGER NOT NULL DEFAULT 0,
    "multiclass_con_req" INTEGER NOT NULL DEFAULT 0,
    "multiclass_int_req" INTEGER NOT NULL DEFAULT 0,
    "multiclass_wis_req" INTEGER NOT NULL DEFAULT 0,
    "multiclass_cha_req" INTEGER NOT NULL DEFAULT 0,
    "armor_proficiencies" "ArmorType"[] DEFAULT ARRAY[]::"ArmorType"[],
    "weapon_proficiencies" "WeaponType"[],
    "saving_throws" "Ability"[],
    "skill_proficiencies" "Ability"[],
    "tool_proficiencies" "ToolCategory"[] DEFAULT ARRAY[]::"ToolCategory"[],
    "languages_to_choose_count" INTEGER NOT NULL DEFAULT 0,
    "languages" "Language"[] DEFAULT ARRAY[]::"Language"[],
    "special_spell_slot_progression" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "class_pkey" PRIMARY KEY ("class_id")
);

-- CreateTable
CREATE TABLE "subclass" (
    "subclass_id" SERIAL NOT NULL,
    "class_id" INTEGER NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "description" TEXT,
    "grants_spells" BOOLEAN NOT NULL DEFAULT false,
    "languages_to_choose_count" INTEGER NOT NULL DEFAULT 0,
    "languages" "Language"[] DEFAULT ARRAY[]::"Language"[],
    "tool_proficiencies" "ToolCategory"[] DEFAULT ARRAY[]::"ToolCategory"[],

    CONSTRAINT "subclass_pkey" PRIMARY KEY ("subclass_id")
);

-- CreateTable
CREATE TABLE "pers" (
    "pers_id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "level" INTEGER NOT NULL DEFAULT 1,
    "current_spell_slots" INTEGER[] DEFAULT ARRAY[]::INTEGER[],
    "class_id" INTEGER NOT NULL,
    "subclass_id" INTEGER,
    "background_id" INTEGER NOT NULL,
    "race_id" INTEGER NOT NULL,
    "subrace_id" INTEGER,
    "current_hp" INTEGER NOT NULL,
    "max_hp" INTEGER NOT NULL,
    "temp_hp" INTEGER NOT NULL DEFAULT 0,
    "race_custom" VARCHAR(100) NOT NULL DEFAULT '',
    "class_custom" VARCHAR(100) NOT NULL DEFAULT '',
    "alignment" VARCHAR(100) NOT NULL DEFAULT '',
    "xp" INTEGER NOT NULL DEFAULT 0,
    "custom_background" VARCHAR(100) NOT NULL DEFAULT '',
    "custom_features" TEXT NOT NULL DEFAULT '',
    "custom_languages_known" TEXT NOT NULL DEFAULT '',
    "custom_equipment" TEXT NOT NULL DEFAULT '',
    "personality_traits" TEXT NOT NULL DEFAULT '',
    "ideals" TEXT NOT NULL DEFAULT '',
    "bonds" TEXT NOT NULL DEFAULT '',
    "flaws" TEXT NOT NULL DEFAULT '',
    "backstory" TEXT NOT NULL DEFAULT '',
    "notes" TEXT NOT NULL DEFAULT '',
    "str" INTEGER NOT NULL,
    "dex" INTEGER NOT NULL,
    "con" INTEGER NOT NULL,
    "int" INTEGER NOT NULL,
    "wis" INTEGER NOT NULL,
    "cha" INTEGER NOT NULL,
    "cp" INTEGER NOT NULL DEFAULT 0,
    "sp" INTEGER NOT NULL DEFAULT 0,
    "ep" INTEGER NOT NULL DEFAULT 0,
    "gp" INTEGER NOT NULL DEFAULT 0,
    "pp" INTEGER NOT NULL DEFAULT 0,
    "additional_save_proficiencies" "Ability"[] DEFAULT ARRAY[]::"Ability"[],
    "misc_save_bonuses" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pers_pkey" PRIMARY KEY ("pers_id")
);

-- CreateTable
CREATE TABLE "pers_multiclass" (
    "pers_multiclass_id" SERIAL NOT NULL,
    "pers_id" INTEGER NOT NULL,
    "class_id" INTEGER NOT NULL,
    "subclass_id" INTEGER,
    "class_level" INTEGER NOT NULL,

    CONSTRAINT "pers_multiclass_pkey" PRIMARY KEY ("pers_multiclass_id")
);

-- CreateTable
CREATE TABLE "pers_feature" (
    "pers_feature_id" SERIAL NOT NULL,
    "pers_id" INTEGER NOT NULL,
    "feature_id" INTEGER NOT NULL,
    "uses_remaining" INTEGER,

    CONSTRAINT "pers_feature_pkey" PRIMARY KEY ("pers_feature_id")
);

-- CreateTable
CREATE TABLE "feature" (
    "feature_id" SERIAL NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "description" TEXT NOT NULL,
    "short_description" TEXT,
    "modifies_stats" JSONB,
    "limited_uses_per" "RestType",
    "uses_count" INTEGER,
    "display_type" "FeatureDisplayType" NOT NULL DEFAULT 'STANDARD',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "feature_pkey" PRIMARY KEY ("feature_id")
);

-- CreateTable
CREATE TABLE "class_feature" (
    "class_feature_id" SERIAL NOT NULL,
    "class_id" INTEGER NOT NULL,
    "feature_id" INTEGER NOT NULL,
    "level_granted" INTEGER NOT NULL,
    "grants_spell_slots" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "class_feature_pkey" PRIMARY KEY ("class_feature_id")
);

-- CreateTable
CREATE TABLE "subclass_feature" (
    "subclass_feature_id" SERIAL NOT NULL,
    "subclass_id" INTEGER NOT NULL,
    "feature_id" INTEGER NOT NULL,
    "level_granted" INTEGER NOT NULL,
    "grants_spell_slots" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "subclass_feature_pkey" PRIMARY KEY ("subclass_feature_id")
);

-- CreateTable
CREATE TABLE "race_trait" (
    "race_trait_id" SERIAL NOT NULL,
    "race_id" INTEGER NOT NULL,
    "feature_id" INTEGER NOT NULL,

    CONSTRAINT "race_trait_pkey" PRIMARY KEY ("race_trait_id")
);

-- CreateTable
CREATE TABLE "subrace_trait" (
    "subrace_trait_id" SERIAL NOT NULL,
    "subrace_id" INTEGER NOT NULL,
    "feature_id" INTEGER NOT NULL,

    CONSTRAINT "subrace_trait_pkey" PRIMARY KEY ("subrace_trait_id")
);

-- CreateTable
CREATE TABLE "race_variant_trait" (
    "race_variant_trait_id" SERIAL NOT NULL,
    "race_variant_id" INTEGER NOT NULL,
    "feature_id" INTEGER NOT NULL,

    CONSTRAINT "race_variant_trait_pkey" PRIMARY KEY ("race_variant_trait_id")
);

-- CreateTable
CREATE TABLE "race_choice_option_trait" (
    "race_choice_option_trait_id" SERIAL NOT NULL,
    "option_id" INTEGER NOT NULL,
    "feature_id" INTEGER NOT NULL,

    CONSTRAINT "race_choice_option_trait_pkey" PRIMARY KEY ("race_choice_option_trait_id")
);

-- CreateTable
CREATE TABLE "feat_feature" (
    "feat_feature_id" SERIAL NOT NULL,
    "feat_id" INTEGER NOT NULL,
    "feature_id" INTEGER NOT NULL,

    CONSTRAINT "feat_feature_pkey" PRIMARY KEY ("feat_feature_id")
);

-- CreateTable
CREATE TABLE "magic_item_feature" (
    "magic_item_feature_id" SERIAL NOT NULL,
    "magic_item_id" INTEGER NOT NULL,
    "feature_id" INTEGER NOT NULL,

    CONSTRAINT "magic_item_feature_pkey" PRIMARY KEY ("magic_item_feature_id")
);

-- CreateTable
CREATE TABLE "race" (
    "race_id" SERIAL NOT NULL,
    "name" "Races" NOT NULL,
    "size" "Size"[] DEFAULT ARRAY['MEDIUM']::"Size"[],
    "speed" INTEGER NOT NULL DEFAULT 30,
    "burrow_speed" INTEGER NOT NULL DEFAULT 0,
    "flight_speed" INTEGER NOT NULL DEFAULT 0,
    "swim_speed" INTEGER NOT NULL DEFAULT 0,
    "climb_speed" INTEGER NOT NULL DEFAULT 0,
    "ac" INTEGER NOT NULL DEFAULT 10,
    "source" "Source" NOT NULL DEFAULT 'PHB',
    "languages" "Language"[] DEFAULT ARRAY['COMMON']::"Language"[],
    "languages_to_choose_count" INTEGER NOT NULL DEFAULT 0,
    "ASI" JSONB NOT NULL,
    "tool_proficiencies" "ToolCategory"[] DEFAULT ARRAY[]::"ToolCategory"[],
    "skill_proficiencies" "Skills"[],
    "weapon_proficiencies" "WeaponCategory"[] DEFAULT ARRAY[]::"WeaponCategory"[],
    "armor_proficiencies" "ArmorType"[] DEFAULT ARRAY[]::"ArmorType"[],

    CONSTRAINT "race_pkey" PRIMARY KEY ("race_id")
);

-- CreateTable
CREATE TABLE "subrace" (
    "subrace_id" SERIAL NOT NULL,
    "race_id" INTEGER NOT NULL,
    "name" "Subraces" NOT NULL,
    "speed_modifier" INTEGER,
    "source" "Source" NOT NULL DEFAULT 'PHB',
    "replaces_asi" BOOLEAN NOT NULL DEFAULT false,
    "additional_asi" JSONB,
    "additional_languages" "Language"[] DEFAULT ARRAY[]::"Language"[],
    "languages_to_choose_count" INTEGER NOT NULL DEFAULT 0,
    "tool_proficiencies" "ToolCategory"[] DEFAULT ARRAY[]::"ToolCategory"[],
    "skill_proficiencies" JSONB,
    "weapon_proficiencies" "WeaponCategory"[] DEFAULT ARRAY[]::"WeaponCategory"[],
    "armor_proficiencies" "ArmorType"[] DEFAULT ARRAY[]::"ArmorType"[],

    CONSTRAINT "subrace_pkey" PRIMARY KEY ("subrace_id")
);

-- CreateTable
CREATE TABLE "race_variant" (
    "race_variant_id" SERIAL NOT NULL,
    "race_id" INTEGER NOT NULL,
    "name" "Variants" NOT NULL,
    "source" "Source" NOT NULL,
    "exclusivity_group" TEXT,
    "overrides_race_asi" JSONB NOT NULL,
    "overrides_race_speed" INTEGER,
    "overrides_flight_speed" INTEGER,

    CONSTRAINT "race_variant_pkey" PRIMARY KEY ("race_variant_id")
);

-- CreateTable
CREATE TABLE "race_choice_option" (
    "option_id" SERIAL NOT NULL,
    "race_id" INTEGER NOT NULL,
    "subrace_id" INTEGER,
    "choice_group_name" TEXT NOT NULL,
    "option_name" TEXT NOT NULL,
    "description" TEXT,
    "select_multiple" BOOLEAN NOT NULL DEFAULT false,
    "max_selection" INTEGER NOT NULL DEFAULT 1,
    "grants_asi" JSONB,
    "grants_skill_proficiencies" "Skills"[] DEFAULT ARRAY[]::"Skills"[],
    "grants_languages" "Language"[] DEFAULT ARRAY[]::"Language"[],
    "languages_to_choose_count" INTEGER NOT NULL DEFAULT 0,
    "modifies_speed" INTEGER,
    "draconic_damage_type" "DamageType",
    "breath_weapon_shape" "AOEShapes",
    "breath_weapon_aoe" TEXT,

    CONSTRAINT "race_choice_option_pkey" PRIMARY KEY ("option_id")
);

-- CreateTable
CREATE TABLE "background" (
    "background_id" SERIAL NOT NULL,
    "name" "BackgroundCategory" NOT NULL,
    "source" "Source" NOT NULL DEFAULT 'PHB',
    "tool_proficiencies" "ToolCategory"[] DEFAULT ARRAY[]::"ToolCategory"[],
    "skill_proficiencies" "Skills"[],
    "languages_to_choose_count" INTEGER NOT NULL DEFAULT 0,
    "items" JSONB,

    CONSTRAINT "background_pkey" PRIMARY KEY ("background_id")
);

-- CreateTable
CREATE TABLE "feat" (
    "feat_id" SERIAL NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "category" "FeatCategory" NOT NULL,
    "short_description" TEXT NOT NULL,
    "long_description" TEXT NOT NULL,
    "languages_to_choose_count" INTEGER NOT NULL DEFAULT 0,
    "languages" "Language"[] DEFAULT ARRAY[]::"Language"[],
    "prerequisites" JSONB,

    CONSTRAINT "feat_pkey" PRIMARY KEY ("feat_id")
);

-- CreateTable
CREATE TABLE "feat_ability_boost" (
    "boost_id" SERIAL NOT NULL,
    "feat_id" INTEGER NOT NULL,
    "ability" "Ability",
    "increase_value" INTEGER NOT NULL,
    "abilities_to_choose" "Ability"[] DEFAULT ARRAY[]::"Ability"[],
    "max_value" INTEGER NOT NULL DEFAULT 20,

    CONSTRAINT "feat_ability_boost_pkey" PRIMARY KEY ("boost_id")
);

-- CreateTable
CREATE TABLE "pers_feat" (
    "pers_feat_id" SERIAL NOT NULL,
    "feat_id" INTEGER NOT NULL,
    "pers_id" INTEGER NOT NULL,

    CONSTRAINT "pers_feat_pkey" PRIMARY KEY ("pers_feat_id")
);

-- CreateTable
CREATE TABLE "magic_item" (
    "magic_item_id" SERIAL NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "item_type" "MagicItemType" NOT NULL,
    "rarity" "ItemRarity" NOT NULL,
    "description" TEXT NOT NULL,
    "bonus_to_ac" INTEGER,
    "bonus_to_attack_roll" INTEGER,
    "bonus_to_damage" INTEGER,

    CONSTRAINT "magic_item_pkey" PRIMARY KEY ("magic_item_id")
);

-- CreateTable
CREATE TABLE "weapon" (
    "weapon_id" SERIAL NOT NULL,
    "name" "WeaponCategory" NOT NULL,
    "damage" TEXT NOT NULL,
    "damage_type" "DamageType" NOT NULL,
    "weapon_type" "WeaponType" NOT NULL,
    "properties" "WeaponProperty"[],
    "versatile_damage" TEXT,
    "normal_range" INTEGER,
    "long_range" INTEGER,

    CONSTRAINT "weapon_pkey" PRIMARY KEY ("weapon_id")
);

-- CreateTable
CREATE TABLE "armor" (
    "armor_id" SERIAL NOT NULL,
    "name" "ArmorCategory" NOT NULL,
    "armor_type" "ArmorType" NOT NULL,
    "base_ac" INTEGER NOT NULL,
    "strength_req" INTEGER,
    "stealth_disadvantage" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "armor_pkey" PRIMARY KEY ("armor_id")
);

-- CreateTable
CREATE TABLE "pers_skill" (
    "pers_skill_id" SERIAL NOT NULL,
    "skill_id" INTEGER NOT NULL,
    "pers_id" INTEGER NOT NULL,
    "proficiency_type" "SkillProficiencyType" NOT NULL DEFAULT 'NONE',
    "custom_modifier" INTEGER,
    "name" "Skills" NOT NULL,

    CONSTRAINT "pers_skill_pkey" PRIMARY KEY ("pers_skill_id")
);

-- CreateTable
CREATE TABLE "pers_weapon" (
    "pers_weapon_id" SERIAL NOT NULL,
    "pers_id" INTEGER NOT NULL,
    "weapon_id" INTEGER NOT NULL,
    "override_damage" TEXT,
    "attack_bonus" INTEGER,
    "override_name" TEXT,
    "override_normal_range" INTEGER,
    "override_long_range" INTEGER,
    "override_damage_type" "DamageType",
    "override_attack_ability" "Ability",
    "is_proficient" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "pers_weapon_pkey" PRIMARY KEY ("pers_weapon_id")
);

-- CreateTable
CREATE TABLE "pers_armor" (
    "pers_armor_id" SERIAL NOT NULL,
    "armor_id" INTEGER NOT NULL,
    "pers_id" INTEGER NOT NULL,
    "override_base_ac" INTEGER,
    "misc_ac_bonus" INTEGER,
    "is_proficient" BOOLEAN NOT NULL DEFAULT true,
    "equipped" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "pers_armor_pkey" PRIMARY KEY ("pers_armor_id")
);

-- CreateTable
CREATE TABLE "pers_magic_item" (
    "pers_magic_item_id" SERIAL NOT NULL,
    "pers_id" INTEGER NOT NULL,
    "magic_item_id" INTEGER NOT NULL,

    CONSTRAINT "pers_magic_item_pkey" PRIMARY KEY ("pers_magic_item_id")
);

-- CreateTable
CREATE TABLE "equipment_pack" (
    "equipment_pack_id" SERIAL NOT NULL,
    "name" "EquipmentPackCategory" NOT NULL,
    "description" TEXT NOT NULL,
    "items" JSONB NOT NULL,

    CONSTRAINT "equipment_pack_pkey" PRIMARY KEY ("equipment_pack_id")
);

-- CreateTable
CREATE TABLE "class_starting_equipment_option" (
    "option_id" SERIAL NOT NULL,
    "class_id" INTEGER NOT NULL,
    "choice_group" INTEGER NOT NULL,
    "option" CHAR(1) NOT NULL,
    "weapon_id" INTEGER,
    "armor_id" INTEGER,
    "equipment_pack_id" INTEGER,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "choose_any_armor" BOOLEAN NOT NULL DEFAULT false,
    "armor_type" "ArmorType",
    "choose_any_weapon" BOOLEAN NOT NULL DEFAULT false,
    "weapon_type" "WeaponType",
    "weapon_count" INTEGER NOT NULL DEFAULT 1,
    "description" TEXT,

    CONSTRAINT "class_starting_equipment_option_pkey" PRIMARY KEY ("option_id")
);

-- CreateTable
CREATE TABLE "_SubclassExpandedSpells" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_SubclassExpandedSpells_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_PersToSpell" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_PersToSpell_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_PersToRaceVariant" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_PersToRaceVariant_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_PersToRaceChoiceOption" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_PersToRaceChoiceOption_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_FeatureToSpell" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_FeatureToSpell_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_SubraceReplacesTraits" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_SubraceReplacesTraits_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateTable
CREATE TABLE "_VariantReplacesTraits" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL,

    CONSTRAINT "_VariantReplacesTraits_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "unique_names" ON "spell"("name");

-- CreateIndex
CREATE UNIQUE INDEX "class_name_key" ON "class"("name");

-- CreateIndex
CREATE UNIQUE INDEX "subclass_class_id_name_key" ON "subclass"("class_id", "name");

-- CreateIndex
CREATE UNIQUE INDEX "pers_multiclass_pers_id_class_id_key" ON "pers_multiclass"("pers_id", "class_id");

-- CreateIndex
CREATE UNIQUE INDEX "pers_feature_pers_id_feature_id_key" ON "pers_feature"("pers_id", "feature_id");

-- CreateIndex
CREATE UNIQUE INDEX "feature_feature_id_key" ON "feature"("feature_id");

-- CreateIndex
CREATE INDEX "feat_feature_feat_id_idx" ON "feat_feature"("feat_id");

-- CreateIndex
CREATE INDEX "feat_feature_feature_id_idx" ON "feat_feature"("feature_id");

-- CreateIndex
CREATE UNIQUE INDEX "feat_feature_feat_id_feature_id_key" ON "feat_feature"("feat_id", "feature_id");

-- CreateIndex
CREATE UNIQUE INDEX "race_name_key" ON "race"("name");

-- CreateIndex
CREATE UNIQUE INDEX "subrace_name_key" ON "subrace"("name");

-- CreateIndex
CREATE UNIQUE INDEX "race_choice_option_race_id_subrace_id_choice_group_name_opt_key" ON "race_choice_option"("race_id", "subrace_id", "choice_group_name", "option_name");

-- CreateIndex
CREATE UNIQUE INDEX "background_name_key" ON "background"("name");

-- CreateIndex
CREATE UNIQUE INDEX "feat_ability_boost_feat_id_key" ON "feat_ability_boost"("feat_id");

-- CreateIndex
CREATE UNIQUE INDEX "pers_feat_feat_id_pers_id_key" ON "pers_feat"("feat_id", "pers_id");

-- CreateIndex
CREATE UNIQUE INDEX "magic_item_name_key" ON "magic_item"("name");

-- CreateIndex
CREATE UNIQUE INDEX "weapon_name_key" ON "weapon"("name");

-- CreateIndex
CREATE UNIQUE INDEX "armor_name_key" ON "armor"("name");

-- CreateIndex
CREATE UNIQUE INDEX "pers_skill_pers_id_name_key" ON "pers_skill"("pers_id", "name");

-- CreateIndex
CREATE UNIQUE INDEX "equipment_pack_name_key" ON "equipment_pack"("name");

-- CreateIndex
CREATE INDEX "class_starting_equipment_option_class_id_choice_group_optio_idx" ON "class_starting_equipment_option"("class_id", "choice_group", "option");

-- CreateIndex
CREATE INDEX "_SubclassExpandedSpells_B_index" ON "_SubclassExpandedSpells"("B");

-- CreateIndex
CREATE INDEX "_PersToSpell_B_index" ON "_PersToSpell"("B");

-- CreateIndex
CREATE INDEX "_PersToRaceVariant_B_index" ON "_PersToRaceVariant"("B");

-- CreateIndex
CREATE INDEX "_PersToRaceChoiceOption_B_index" ON "_PersToRaceChoiceOption"("B");

-- CreateIndex
CREATE INDEX "_FeatureToSpell_B_index" ON "_FeatureToSpell"("B");

-- CreateIndex
CREATE INDEX "_SubraceReplacesTraits_B_index" ON "_SubraceReplacesTraits"("B");

-- CreateIndex
CREATE INDEX "_VariantReplacesTraits_B_index" ON "_VariantReplacesTraits"("B");

-- AddForeignKey
ALTER TABLE "character" ADD CONSTRAINT "character_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "user"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "character_spells" ADD CONSTRAINT "character_spells_character_id_fkey" FOREIGN KEY ("character_id") REFERENCES "character"("character_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "character_spells" ADD CONSTRAINT "character_spells_spell_id_fkey" FOREIGN KEY ("spell_id") REFERENCES "spell"("spell_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "spell_classes" ADD CONSTRAINT "fk_spell_classes" FOREIGN KEY ("spell_id") REFERENCES "spell"("spell_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spell_races" ADD CONSTRAINT "spell_races_spell_id_fkey" FOREIGN KEY ("spell_id") REFERENCES "spell"("spell_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spellbook" ADD CONSTRAINT "fk_user_id" FOREIGN KEY ("user_id") REFERENCES "user"("user_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spellbook_spells" ADD CONSTRAINT "spellbook_spells_spell_id_fkey" FOREIGN KEY ("spell_id") REFERENCES "spell"("spell_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "spellbook_spells" ADD CONSTRAINT "spellbook_spells_spellbook_id_fkey" FOREIGN KEY ("spellbook_id") REFERENCES "spellbook"("spellbook_id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "subclass" ADD CONSTRAINT "subclass_class_id_fkey" FOREIGN KEY ("class_id") REFERENCES "class"("class_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers" ADD CONSTRAINT "pers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "user"("user_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers" ADD CONSTRAINT "pers_class_id_fkey" FOREIGN KEY ("class_id") REFERENCES "class"("class_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers" ADD CONSTRAINT "pers_subclass_id_fkey" FOREIGN KEY ("subclass_id") REFERENCES "subclass"("subclass_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers" ADD CONSTRAINT "pers_race_id_fkey" FOREIGN KEY ("race_id") REFERENCES "race"("race_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers" ADD CONSTRAINT "pers_subrace_id_fkey" FOREIGN KEY ("subrace_id") REFERENCES "subrace"("subrace_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers" ADD CONSTRAINT "pers_background_id_fkey" FOREIGN KEY ("background_id") REFERENCES "background"("background_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_multiclass" ADD CONSTRAINT "pers_multiclass_pers_id_fkey" FOREIGN KEY ("pers_id") REFERENCES "pers"("pers_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_multiclass" ADD CONSTRAINT "pers_multiclass_class_id_fkey" FOREIGN KEY ("class_id") REFERENCES "class"("class_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_multiclass" ADD CONSTRAINT "pers_multiclass_subclass_id_fkey" FOREIGN KEY ("subclass_id") REFERENCES "subclass"("subclass_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_feature" ADD CONSTRAINT "pers_feature_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "feature"("feature_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_feature" ADD CONSTRAINT "pers_feature_pers_id_fkey" FOREIGN KEY ("pers_id") REFERENCES "pers"("pers_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "class_feature" ADD CONSTRAINT "class_feature_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "feature"("feature_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "class_feature" ADD CONSTRAINT "class_feature_class_id_fkey" FOREIGN KEY ("class_id") REFERENCES "class"("class_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subclass_feature" ADD CONSTRAINT "subclass_feature_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "feature"("feature_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subclass_feature" ADD CONSTRAINT "subclass_feature_subclass_id_fkey" FOREIGN KEY ("subclass_id") REFERENCES "subclass"("subclass_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "race_trait" ADD CONSTRAINT "race_trait_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "feature"("feature_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "race_trait" ADD CONSTRAINT "race_trait_race_id_fkey" FOREIGN KEY ("race_id") REFERENCES "race"("race_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subrace_trait" ADD CONSTRAINT "subrace_trait_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "feature"("feature_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subrace_trait" ADD CONSTRAINT "subrace_trait_subrace_id_fkey" FOREIGN KEY ("subrace_id") REFERENCES "subrace"("subrace_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "race_variant_trait" ADD CONSTRAINT "race_variant_trait_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "feature"("feature_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "race_variant_trait" ADD CONSTRAINT "race_variant_trait_race_variant_id_fkey" FOREIGN KEY ("race_variant_id") REFERENCES "race_variant"("race_variant_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "race_choice_option_trait" ADD CONSTRAINT "race_choice_option_trait_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "feature"("feature_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "race_choice_option_trait" ADD CONSTRAINT "race_choice_option_trait_option_id_fkey" FOREIGN KEY ("option_id") REFERENCES "race_choice_option"("option_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feat_feature" ADD CONSTRAINT "feat_feature_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "feature"("feature_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feat_feature" ADD CONSTRAINT "feat_feature_feat_id_fkey" FOREIGN KEY ("feat_id") REFERENCES "feat"("feat_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "magic_item_feature" ADD CONSTRAINT "magic_item_feature_feature_id_fkey" FOREIGN KEY ("feature_id") REFERENCES "feature"("feature_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "magic_item_feature" ADD CONSTRAINT "magic_item_feature_magic_item_id_fkey" FOREIGN KEY ("magic_item_id") REFERENCES "magic_item"("magic_item_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "subrace" ADD CONSTRAINT "subrace_race_id_fkey" FOREIGN KEY ("race_id") REFERENCES "race"("race_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "race_variant" ADD CONSTRAINT "race_variant_race_id_fkey" FOREIGN KEY ("race_id") REFERENCES "race"("race_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "race_choice_option" ADD CONSTRAINT "race_choice_option_race_id_fkey" FOREIGN KEY ("race_id") REFERENCES "race"("race_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "race_choice_option" ADD CONSTRAINT "race_choice_option_subrace_id_fkey" FOREIGN KEY ("subrace_id") REFERENCES "subrace"("subrace_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feat_ability_boost" ADD CONSTRAINT "feat_ability_boost_feat_id_fkey" FOREIGN KEY ("feat_id") REFERENCES "feat"("feat_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_feat" ADD CONSTRAINT "pers_feat_feat_id_fkey" FOREIGN KEY ("feat_id") REFERENCES "feat"("feat_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_feat" ADD CONSTRAINT "pers_feat_pers_id_fkey" FOREIGN KEY ("pers_id") REFERENCES "pers"("pers_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_skill" ADD CONSTRAINT "pers_skill_pers_id_fkey" FOREIGN KEY ("pers_id") REFERENCES "pers"("pers_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_weapon" ADD CONSTRAINT "pers_weapon_pers_id_fkey" FOREIGN KEY ("pers_id") REFERENCES "pers"("pers_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_weapon" ADD CONSTRAINT "pers_weapon_weapon_id_fkey" FOREIGN KEY ("weapon_id") REFERENCES "weapon"("weapon_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_armor" ADD CONSTRAINT "pers_armor_pers_id_fkey" FOREIGN KEY ("pers_id") REFERENCES "pers"("pers_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_armor" ADD CONSTRAINT "pers_armor_armor_id_fkey" FOREIGN KEY ("armor_id") REFERENCES "armor"("armor_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_magic_item" ADD CONSTRAINT "pers_magic_item_pers_id_fkey" FOREIGN KEY ("pers_id") REFERENCES "pers"("pers_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pers_magic_item" ADD CONSTRAINT "pers_magic_item_magic_item_id_fkey" FOREIGN KEY ("magic_item_id") REFERENCES "magic_item"("magic_item_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "class_starting_equipment_option" ADD CONSTRAINT "class_starting_equipment_option_class_id_fkey" FOREIGN KEY ("class_id") REFERENCES "class"("class_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "class_starting_equipment_option" ADD CONSTRAINT "class_starting_equipment_option_weapon_id_fkey" FOREIGN KEY ("weapon_id") REFERENCES "weapon"("weapon_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "class_starting_equipment_option" ADD CONSTRAINT "class_starting_equipment_option_armor_id_fkey" FOREIGN KEY ("armor_id") REFERENCES "armor"("armor_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "class_starting_equipment_option" ADD CONSTRAINT "class_starting_equipment_option_equipment_pack_id_fkey" FOREIGN KEY ("equipment_pack_id") REFERENCES "equipment_pack"("equipment_pack_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_SubclassExpandedSpells" ADD CONSTRAINT "_SubclassExpandedSpells_A_fkey" FOREIGN KEY ("A") REFERENCES "spell"("spell_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_SubclassExpandedSpells" ADD CONSTRAINT "_SubclassExpandedSpells_B_fkey" FOREIGN KEY ("B") REFERENCES "subclass"("subclass_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_PersToSpell" ADD CONSTRAINT "_PersToSpell_A_fkey" FOREIGN KEY ("A") REFERENCES "pers"("pers_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_PersToSpell" ADD CONSTRAINT "_PersToSpell_B_fkey" FOREIGN KEY ("B") REFERENCES "spell"("spell_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_PersToRaceVariant" ADD CONSTRAINT "_PersToRaceVariant_A_fkey" FOREIGN KEY ("A") REFERENCES "pers"("pers_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_PersToRaceVariant" ADD CONSTRAINT "_PersToRaceVariant_B_fkey" FOREIGN KEY ("B") REFERENCES "race_variant"("race_variant_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_PersToRaceChoiceOption" ADD CONSTRAINT "_PersToRaceChoiceOption_A_fkey" FOREIGN KEY ("A") REFERENCES "pers"("pers_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_PersToRaceChoiceOption" ADD CONSTRAINT "_PersToRaceChoiceOption_B_fkey" FOREIGN KEY ("B") REFERENCES "race_choice_option"("option_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_FeatureToSpell" ADD CONSTRAINT "_FeatureToSpell_A_fkey" FOREIGN KEY ("A") REFERENCES "feature"("feature_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_FeatureToSpell" ADD CONSTRAINT "_FeatureToSpell_B_fkey" FOREIGN KEY ("B") REFERENCES "spell"("spell_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_SubraceReplacesTraits" ADD CONSTRAINT "_SubraceReplacesTraits_A_fkey" FOREIGN KEY ("A") REFERENCES "race_trait"("race_trait_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_SubraceReplacesTraits" ADD CONSTRAINT "_SubraceReplacesTraits_B_fkey" FOREIGN KEY ("B") REFERENCES "subrace"("subrace_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_VariantReplacesTraits" ADD CONSTRAINT "_VariantReplacesTraits_A_fkey" FOREIGN KEY ("A") REFERENCES "race_trait"("race_trait_id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_VariantReplacesTraits" ADD CONSTRAINT "_VariantReplacesTraits_B_fkey" FOREIGN KEY ("B") REFERENCES "race_variant"("race_variant_id") ON DELETE CASCADE ON UPDATE CASCADE;

